/* Divs */

.application {
    min-width: 670px;
}

.loginFormHolder {
    max-width: 580px;
    margin: 0 auto;
}

.menuHolder {
    width: 20%;
    height: 100%;
    float: left;
    padding-right: 20px;
}

.header {
    height: 50px;
    padding-top: 10px;
}

.headerLeft {
    text-align: left;
    padding-left: 20px;
    float: right;
    width: 10%;
}

.headerCenter {
    text-align: center;
    float: right;
    width: 60%;
}

.headerRight {
    text-align: right;
    padding-right: 20px;
    float: right;
    width: 10%;
}

.emptyLabelHolder {
    text-align: center;
    padding-top: 50px;
}

.rootPanel {
    width: 80%;
    float: right;
}

.listItemPanelDetailsHolder, .listPanelDetailsHolder {
    height: 30px;
}

.listPanelDetails {
    padding-left: 10px;
    padding-right: 20px;
}

.listItemPanelCheckBox {
    float: left;
    text-align: left;
    padding-left: 10px;
    width: 5%;
}

.listItemPanelName {
    float: left;
    text-align: left;
    width: 35%;
}

.listItemPanelPriority {
    float: left;
    text-align: center;
    width: 30%;
}

.listItemPanelDetails {
    float: left;
    text-align: right;
    padding-right: 20px;
    width: 30%;
}

.listItemPanelNameDeletable {
    float: left;
    text-align: left;
    padding-left: 10px;
    width: 35%;
}

.listItemPanelPriorityDeletable {
    float: left;
    text-align: center;
    width: 30%;
}

.listItemPanelDelete {
    float: left;
    text-align: right;
    padding-right: 20px;
    width: 35%;
}



/* Buttons */

.addButton {
    margin-left: 10px;
    margin-bottom: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 8px;
    padding-right: 8px;
}

.deleteLink, .deleteLink:hover, .deleteLink:visited, .deleteLinkBold, .deleteLinkBold:hover, .deleteLinkBold:visited {
    color: #e74c3c;
}

.deleteLinkBold {
    font-weight: bold;
    padding-left: 10px;
    padding-bottom: 20px;
}



/* Fonts */

h2 {
    margin: 0px;
    padding: 0px;
}

h3 {
    margin-top: 15px;
    margin-left: 12px;
}

h4, .p-listItemPriority {
    margin: 0px;
}

h5, .p-listItemPriority {
    font-weight: bold;
}



/* Other */

span {
    color: black;
}

hr {
    margin-top: 0px;
    margin-bottom: 15px;
}