/* Divs */

.application {
    min-width: 670px;
}

.loginFormHolder {
    max-width: 580px;
    margin: 0 auto;
    padding-top: 20px;
}

.menuHolder {
    width: 20%;
    height: 100%;
    float: left;
    padding-right: 20px;
}

.header {
    height: 50px;
    padding-top: 10px;
}

.headerLeft {
    text-align: left;
    padding-left: 20px;
    float: right;
    width: 10%;
}

.headerCenter {
    text-align: center;
    float: right;
    width: 60%;
}

.headerRight {
    text-align: right;
    padding-right: 20px;
    float: right;
    width: 10%;
}

.dashboardInfoHolder {
    margin-top: 20px;
}

.goalInfoHolder {
    float: right;
    width: 80%;
    padding-top: 10px;
    padding-left: 20px;
}

.emptyLabelHolder {
    text-align: center;
    padding-top: 50px;
}

.rootPanel {
    width: 80%;
    float: right;
}

.panelDetailsHolder {
    height: 30px;
}

.listPanelDetails {
    padding-left: 10px;
    padding-right: 20px;
}

.listItemPanelCheckBox, .listItemPanelNameDeletable, .goalPanelName, .transactionPanelAmount {
    float: left;
    text-align: left;
    padding-left: 10px;
}

.listItemPanelPriority, .listItemPanelPriorityDeletable, .goalPanelPriority, .goalPanelAmounts, .transactionPanelDate {
    float: left;
    text-align: center;
}

.listItemPanelDetails, .listItemPanelDelete, .goalPanelProgress, .transactionPanelCategory {
    float: left;
    text-align: right;
    padding-right: 20px;
}

.listItemPanelCheckBox {
    width: 5%;
}

.listItemPanelName {
    float: left;
    text-align: left;
    width: 35%;
}

.listItemPanelPriority, .listItemPanelDetails, .listItemPanelPriorityDeletable {
    width: 30%;
}

.listItemPanelNameDeletable, .listItemPanelDelete {
    width: 35%;
}

.goalPanelName {
    width: 25%;
}

.goalPanelPriority {
    width: 10%;
}

.goalPanelAmounts {
    width: 25%;
}

.goalPanelProgress {
    width: 40%;
}

.operationLinkHolderFirst {
    margin-top: 20px;
}

.operationLinkHolder {
    margin-top: 5px;
}

.transactionsMainContentHolder {
    margin-top: 10%;
}

.transactionPanelAmount {
    width: 30%;
}

.transactionPanelDate {
    width: 35%;
}

.transactionPanelCategory {
    width: 35%;
}



/* Buttons */

.addButton {
    margin-left: 10px;
    margin-bottom: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 8px;
    padding-right: 8px;
}

.deleteLink, .deleteLink:hover, .deleteLink:visited, .deleteLinkEndOfList, .deleteLinkEndOfList:hover, .deleteLinkEndOfList:visited, .deleteLinkDetails, .deleteLinkDetails:hover, .deleteLinkDetails:visited {
    color: #e74c3c;
}

.deleteLinkEndOfList, .deleteLinkDetails {
    font-weight: bold;
    padding-bottom: 20px;
}

.deleteLinkEndOfList {
    padding-left: 10px;
}



/* Fonts */

h2 {
    margin: 0px;
    padding: 0px;
}

h3 {
    margin-top: 15px;
    margin-left: 12px;
}

h4, .p-listItemPriority, .p-goalInfo {
    margin: 0px;
}

h5, .p-listItemPriority {
    font-weight: bold;
}



/* Other */

span {
    color: black;
}

hr {
    margin-top: 0px;
    margin-bottom: 15px;
}

.progress {
    margin-top: 5px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
}